h1 {
	color: red;
	font-size: 20pt;
	background-color: lightblue;
	border-bottom:solid thin black;
	letter-spacing:2mm;
    word-spacing:5mm;
}
p {
	font-size: 13pt;
	line-height: 30pt;
}
table {
	width:50%;
	color: black;
	border: 3px solid black;
}
td {
	border: 1px dotted red;
	width: 50%;
}