h1 {
	color: red;
	font-size: 20pt;
	background-color: lightblue;
	border-bottom:solid thin black;
	letter-spacing:2mm;
    word-spacing:5mm;
}
p {
	font-size: 13pt;
	line-height: 30pt;
}
table {
	width:500px;
	color: black;
	border: 3px dashed black;

}
td {
	border: 1px dotted red;
	width: 100px;
	background-color: lightblue;
   	padding: 20px;
}