@charset "utf-8";

p {
	padding: 5px;
}

body
{
	background: grey;
	color: navy;
	font-family: Arial;
}

h1
{
	text-align: center;
}

div#head
{
	margin-left: auto;
	margin-right: auto;
	width: 800px;
	height: 100px;
	color: white;
	padding-top: 40px;
	background-image:url(../images/advertisement.jpg);
}

div#body
{
	margin-left: auto;
	margin-right: auto;
	width: 800px;
	height: 100%;
}

div#navigation
{
	width: 100%;
	height: 20px;
	text-align: center;
}

a
{
	color: darkblue;
	text-decoration: none;
	font-weight: bold;
}

a:hover
{
	color: orange;
}