@charset "utf-8";

p {
	padding: 20px;
}

body
{
	background: grey;
	color: navy;
	font-family: Arial;
}

h1
{
	text-align: center;
}

div#head
{
	margin-left: auto;
	margin-right: auto;
	width: 800px;
	height: 100px;
	color: white;
	padding-top: 40px;
	background-image:url(../images/brett.jpg);
}

div#body
{
	margin-left: auto;
	margin-right: auto;
	width: 800px;
	height: 100%;
}

div#navigation
{
	width: 100%;
	height: 20px;
	text-align: left;
}

div#commercial
{
	width:	30%;
	height: 100%;
	background: white;
	float: right;
	font-size: 20px;
	color: orange;
	font-variant: small-caps;
	cursor: cross;
	background-image: url(../images/brett.jpg);
}

div#content
{
	width: 65%;
	height: 50%;
	color: white;
	overflow: scroll;
	float: left;
	background-image: url(../images/brett.jpg);
	background-attachment: fixed;
	line-height: 130%;
}
div#footer
{
	width:	65%;
	height: 50%;
	background: white;
	font-size: 20px;
	font-family: 'Times New Roman';
	font-variant: small-caps;
	color: orange;
	cursor: cross;
	background-image: url(../images/brett.jpg);
}

a
{
	color: darkblue;
	text-decoration: none;
	font-weight: bold;
}

a:hover
{
	color: orange;
}